.grid-header{
    text-align: center;
    background-color: floralwhite;
    border-radius: 10px;
    grid-column: 1/6;
}

.grid-container{    
    display: grid;
    grid-row-gap: 75px;
    padding: 10px;
    background-color: rgb(55, 56, 56);
}

.grid-item{
    width: 15rem;
    background-color: floralwhite;
    border-radius: 15px;
}

.grid-item-header{
    color: rgb(55, 56, 56);
}

.card-body{
    color: rgb(55, 56, 56);
}

.item1{
    grid-column-start: 1;
}

.item2{
    grid-column-start: 1;
}

.item3{
    grid-column-start: 1;
}

.item4{
    grid-column-start: 5;
}

.item5{
    grid-column: 3/4;
    grid-row: 2/5;
    /* background-color: floralwhite; */
    border-radius: 10px;
}