img{
    margin-top: -5em;
    padding-left:1em;
}
.container{
    margin-top: -4em;
    padding-left: 1em;
    padding-right: 1em;
}
#box1 {
    position: relative;
    border: 1px solid lightgray;
    background-color: rgb(233, 230, 230);
    width: 63%;
    padding-left: 1em;
    padding-right: 1em;
    height: 500px;   
    font-size: 20px;

    float: left;
}
#box1 h1 {
    color: rgb(104, 101, 101);
    font-size: 40px;
}

#box2{
    position: relative;
    border: 1px solid lightgray;
    background-color: rgb(233, 230, 230);
    float: right;
    width: 30%;
    height: 500px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 20px;
}
#box2 > div{
    position: absolute;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 12em;
 
}
#box2 h2{
    color: rgb(104, 101, 101);
    font-size: 40px;
}

#box3{
    
    margin-top: 34em;
    background-color: rgb(233, 230, 230);
    border: 1px solid lightgray;
    margin-right: 1em;
    margin-left : 1em;
    padding-bottom: 10em;
    padding-left: 1em;
    
    
}
#box3 h3 {
    font-size: 20px;

}

#slider{
    background:rgb(134, 134, 153);

    
    height:1em;
    width:28em;
    position:relative;
    right: -90em;
    display : inline;
    
}

.open{
    right:0px !important;

}
.transition{
    
  -webkit-transition: right 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: right 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: right 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: right 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}