
.positive{  
  color: green;
}

.negative{
  color: red;
}

.pp{
  font-size: 20px;
  margin-bottom: 50em;
}

.poop{
  font-size: 20px;
  border-bottom: 1px solid black;
}

.be-normal{
  margin: auto;
  
}


table{
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid black; */
}

#header {
    background-color : rgb(233, 230, 230);
    text-align: center;
    margin-top: -1em;
    margin-right: -0.5em;
    margin-left: -0.5em;
    padding-bottom: 1em;
    padding-top: 1em;
}



.grid-container {
    margin : -0.5em;

    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: gray;
    padding: 4em;
    
    
  }
  .card1 {
    background-color: rgba(204, 204, 204, 0.8);
    border-radius : 1em;
    height: 220%;
    font-size: 15px;
    padding-left: 2em;
    width: 150%;
    padding-right: 2em;
      text-align: center;
      overflow: visible;

    
  }

  .card4 {
    background-color: rgba(204, 204, 204, 0.8);
    border-radius : 1em;
    height: 135%;
    padding-left: 2em;
    font-size: 15px;
    padding-right: 2em;

    text-align: center;
    width: 75%;
  }
  .card5{
      margin-top: 21em;
      height: 52%;
      width: 150%;

  }
  .card5 h2{
      text-align: center;
  }

  .sub5{
      background-color: rgba(204, 204, 204, 0.8);
      border-radius : 1em;
      height: 100%;
  }
  .hideB{
      background-color: rgba(204, 204, 204, 0.8);
      position: absolute;
      margin-top: 32em;
      margin-left: 2em;
      border: 2px solid darkgray;
      border-radius : 5px;
  }
  .hideB:hover{
      color:#000000;
      background-color: #FFFFFF;
}
  .card8{
      background-color: rgba(204, 204, 204, 0.8);
      border-radius : 1em;
      height: 110%;
      padding-left: 2em;
      font-size: 15px;
      padding-right: 2em;
      margin-top: 7em;
      text-align: center;
      width: 75%;
  }


  .line{
      position: relative;
      border-left: 0.75px solid white;
      height: 18em;
      left: 50%;
      margin-top: -0.5em;
  }

  hr {
      background-color: white;
  }

  .back{
      border: 2px solid darkgray;
      border-radius : 5px;
      background-color: darkgray;
      color: blue;
      font-size: 0.75em;
      position:absolute;

      font-size: 1.5em;
      padding-left: 0.75em;
      padding-right: 0.75em;

  }
  .usecase{
      border: 2px solid darkgray;
      border-radius : 5px;
      background-color: darkgray;
      color: blue;
      font-size: 0.75em;
      position:absolute;
      bottom: 1em;
      right: 5em;
      padding-left: 0.75em;
      padding-right: 0.75em;
  }
  .dropdown{
      position:absolute;
  }

  .stock1{
      margin-top: 3em;
  }