#election-chart-container{
  width: 1200px;
  height: 400px;
}

#index-prices-chart-container{
  margin: auto;
  width: 1000px;
  height: 400px;
}

.positive{  
  color: green;
}

.negative{
  color: red;
}

.sb{
  font-size: 20px;
  margin-bottom: 50em;
    text-align: right;
    padding-right : 100px;
}

.sb-toggle{
  font-size: 20px;
  margin-bottom: 50em;
    text-align: right;
    padding-right : 100px;
    color: blue;

}

.steady-table{
    position: absolute;
}

.stat-swap-button{
    align-self: center;
}


.line-title{
  font-size: 20px;
  border-bottom: 1px solid black;
}

.total-title{
  font-size: 20px;

}

.be-normal{
  margin: auto;
  
}


table{
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid black; */
}

#header {
    background-color : rgb(233, 230, 230);
    text-align: center;
    margin-top: -1em;
    margin-right: -0.5em;
    margin-left: -0.5em;
    padding-bottom: 1em;
    padding-top: 1em;

}

/* keeps whole webpage gray*/
/*html {background-color: gray}*/

.grid-container {
    margin : -0.5em;

    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: gray;
    padding: 4em;
    height: 62em;
    
  }
  .card1 {
    background-color: rgba(204, 204, 204, 0.8);
    border-radius : 1em;
    height: 220%;
    font-size: 15px;
    padding-left: 2em;
    
      /* was 150% width */

    padding-right: 2em;
      text-align: center;
      overflow: visible;

    
  }

.card4 {
  background-color: rgba(204, 204, 204, 0.8);
  border-radius : 1em;
  height: 135%;
  padding-left: 2em;
  font-size: 15px;
  padding-right: 2em;

  text-align: center;

}
  .card5{
      margin-top: 21em;
      height: 52%;
      /* was 150% width */

  }
  .card5 h2{
      text-align: center;
  }
  .card5 p {
      margin-left: 2em;
  }

  .sub5{
      background-color: rgba(204, 204, 204, 0.8);
      border-radius : 1em;
      height: 100%;
  }
  .hideB{
      background-color: rgba(204, 204, 204, 0.8);
      position: absolute;
      margin-top: 32em;
      margin-left: 2em;
      border: 2px solid darkgray;
      border-radius : 5px;
  }
  .hideB:hover{
      color:#000000;
      background-color: #FFFFFF;
}

/* stats card */
.card8{
  background-color: rgba(204, 204, 204, 0.8);
  border-radius : 1em;
  height: 110%;
  font-size: 15px;
  margin-top: 7em;
  text-align: center;
}

  /* important dates css */
  .sub9{
      background-color: rgba(204, 204, 204, 0.8);

      height: 100%;
  }

   .card9{


      position: relative;
      margin-top: 0.5em;
      height: 75%;


  }
  .card9 h2{
      text-align: center;
  }
  .card9Table{
      margin-left: 2em;
  }
    .hideC{
      background-color: rgba(204, 204, 204, 0.8);
      position: absolute;
      margin-top: 32em;
      margin-left: 12em;
      border: 2px solid darkgray;
      border-radius : 5px;
  }
  .hideC:hover{
      color:#000000;
      background-color: #FFFFFF;
}

  .bolded{
      font-weight : bold;
      padding-left : 10px;
  }

  /* important dates end */


  .line{
      position: relative;
      border-left: 0.75px solid white;
      height: 18em;
      left: 50%;
      margin-top: -0.5em;
  }

  hr {
      background-color: white;
  }

  .back{
      border: 2px solid darkgray;
      border-radius : 5px;
      background-color: darkgray;
      color: blue;
      font-size: 0.75em;
      position:absolute;
      bottom: 6em;
      right: 1em;

      padding-left: 0.75em;
      padding-right: 0.75em;



  }
  .usecase{
      border: 2px solid darkgray;
      border-radius : 5px;
      background-color: darkgray;
      color: blue;
      font-size: 0.75em;
      position:absolute;
      bottom: 6em;
      right: 5em;
      padding-left: 0.75em;
      padding-right: 0.75em;
  }
  .dropdown{
      position:absolute;
      margin-left: 3em;


  }

  .stock1{
      margin-top: 3em;
  }



/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.bidenprediction {
    margin: auto;
    width: 80%; /* Full width */
    background-color: #ddd; /* Grey background */
    margin-top: 3em;

}
.trump{
    float: right;

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.biden {
    float: left;
    text-align: center; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}

.biden {width: 55%; background-color: blue;} /* Green */
.trump {width: 45%; background-color: red;}



